
.redactor-editor {
    min-height: 400px;
}

snippet {
    border-top: 2px dotted #93a1a1;
    border-bottom: 2px dotted #93a1a1;
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DDE0DA;
}